@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  z-index: 1;
  margin: 0;
  background-color: #f4f5f7;
}

:root {
  --blue: #6070ff;
  --white: #fff;
}

.nav-bar {
  background-color: var(--white);
  height: 50px;
}

.logo {
  height: 50px;
  width: 84%;
  float: left;
}

.logo img {
  height: 50px;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}

.closeIcon {
  display: none !important;
  color: #fff;
  font-size: 1.5rem;
}

.union {
  left: 1000px;
  color: #6070ff;
}

.mobile-menu {
  position: absolute;
  margin-top: 600px;
  width: 100%;
  background-color: #6070ff;
  height: 96vh;
}

/**   */
a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-left: -40px;
}

.nav {
  width: 100%;
  height: 93%;
  position: fixed;
  background-color: var(--blue);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  margin-top: 50px;
}

.menu a {
  display: block;
  padding: 30px;
  color: var(--white);
  font-size: 2em;
}

.menu a:hover {
  background-color: var(--white);
  color: var(--blue);
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 18px 15px;
}

/* Style label tag */
.hamb-line {
  background: var(--blue);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--blue);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ .nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.showMenu {
  transform: translateY(0);
}

.nav-links {
  display: none;
}

header {
  width: 100%;
  height: 718px;
  left: 0;
  top: 0;
  background-color: #fff;
  border-bottom-left-radius: 80px;
}

.head-section {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 115px 24px 115px 24px;
  background-image: url(./images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.header-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

/* start */
.achievement {
  background: var(--white);
  margin: 100px 24px 100px 24px;
  padding: 16px;
  border-radius: 25px;
  border: 1px dashed silver;
}

.achievement .img {
  width: 100%;
  border-radius: 20px;
  background-color: #dcaf91;
  padding: 15px;
}

.achievement .img img {
  width: 100%;
  padding: 15px;
}

.achievement h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.infos {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.infos span {
  color: #344563;
  text-transform: uppercase;
}

.achievement .prg {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.achievement ul {
  margin-left: -40px;
  margin-bottom: 30px;
}

.achievement ul li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: inline;
  margin: 10px 10px 10px 0;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.connect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: rgb(61, 81, 255);
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.social-icon ul {
  width: 170px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}

.hide {
  display: none;
}

.section-label,
.desk-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.portfolios {
  width: 295px;
  height: 220px;
}

.desk-img {
  display: none;
  width: 50%;
}

.popup-img {
  width: 100%;
}

.label-inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

.section-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.optionBold {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
  color: #344563;
  margin: 0;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.options {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
  color: #7a869a;
  margin: 0;
}

.section-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.section-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  gap: 8px;
  padding-left: 0;
}

.skills {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgb(61, 81, 255);
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.btn-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  height: 48px;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  margin-top: 15px;
}

.btn-text:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn-text:active {
  background-color: #2230d2;
  color: #fff;
}

.popUp {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  z-index: 1000;
}

.popUp-content {
  background-color: #fff;
  width: 90%;
  margin: 16px auto 0 auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.imgButton {
  padding-left: 10px;
}

.deskColum {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardParaMob {
  display: block;
}

.cardParaDesk {
  display: none;
}

.borderPop {
  border-bottom: 1px solid #ebecf0;
  width: 100%;
  margin-top: 12px;
}

.buttonPop {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.popTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.crossblack {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 80px;
  padding: 114px 24px;
  background-color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.title {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.portfolio-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skill-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-language {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 0 24px 12px;
}

.arrow {
  border: solid #acb7c3;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 5px;
  margin-right: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.skill-lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 12px;
  margin: 0;
  gap: 12px;
}

.skill-item {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding-left: 14px;
}

.skill-name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  padding: 24px 0 24px 16px;
  margin: 0;
}

.bottom-line {
  border-bottom: 1px solid #dfe1e6;
}

.formx {
  background-color: #fff;
}

.contact-form {
  background-color: #6070ff;
  border-top-left-radius: 80px;
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-image: url(./images/contact-background.png);
  background-size: 60%;
  background-position: top right;
  background-repeat: no-repeat;
}

.contact-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 52px;
  color: #fff;
  margin: 0;
}

.contact-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 0;
}

.form {
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.form-input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 2%;
  height: 48px;
  width: 100%;
}

.form-textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 2%;
  width: 100%;
}

.form-button {
  background: #fff;
  border: 1px solid rgb(61, 81, 255);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(61, 81, 255);
  padding: 12px;
}

.form-button:hover {
  background: #6070ff;
  border: 1px solid #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.form-button:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

@media (min-width: 768px) {
  nav {
    padding: 0 143px 48px 143px;
  }

  .nav-bar {
    padding: 10px 0;
  }

  .hambug-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 8px;
    list-style: none;
  }

  .links {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    padding: 10px 12px;
  }

  .head-section {
    background-image: url(./images/Desktop-bg.png);
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: top;
    padding: 289px 15% 289px 15%;
  }

  .header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .desk-break {
    display: block;
  }

  .header-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .back {
    height: 300px;
    z-index: 5;
  }

  .work-section {
    background-size: 20%;
    background-repeat: no-repeat;
    padding: 142px;
    gap: 142px;
  }

  .section-label {
    display: flex;
    flex-direction: row;
    gap: 22px;
    padding: 24px;
  }

  .desk-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 22px;
    padding: 24px;
  }

  .desk-img {
    display: block;
    width: 100%;
  }

  .portfolios {
    display: none;
  }

  .label-inside {
    padding: 24px;
    gap: 24px;
  }

  .section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .desk-none {
    display: none;
  }

  .desk-title {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin: 0;
  }

  .optionBold {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .options {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .section-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding: 0;
  }

  .popUp {
    max-height: 100%;
    overflow-y: auto;
    z-index: 1000;
  }

  .popUp-content {
    width: 80%;
    margin: 50px auto 50px auto;
  }

  .deskColum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cardParaMob {
    display: none;
  }

  .cardParaDesk {
    display: block;
  }

  .sectionFlex {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 142px;
  }

  .about {
    width: 70%;
  }

  .skill-lists {
    display: flex;
    flex-direction: row;
  }

  .skill-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
  }

  .skill-icon {
    padding: 12px 62px 16px 12px;
  }

  .skill-name {
    padding: 0 0 20px 12px;
  }

  .contact-form {
    background-image: url(./images/Desktop-bg2.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-text {
    width: 50%;
  }

  form {
    gap: 27px;
  }

  .desk-img:hover {
    filter: drop-shadow(0 48px 48px rgba(37, 47, 137, 0.08));
    border: 1px solid #6070ff;
  }

  .formm-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input,
  textarea {
    width: 100%;
    height: 12.8vw;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    margin: 2% 0%;
    padding: 3%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 4.53vw;
  }

  textarea {
    height: 45vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 4vw;
    color: #b3bac5;
  }

  textarea::placeholder {
    color: #b3bac5;
  }

  input::placeholder {
    color: #172b4d;
  }

  .get-in-touch {
    background: #fff;
    margin: 0;
  }

  .btm-bar {
    width: 36vw;
    height: 1.33vw;
    bottom: 3vw;
    margin-top: 10vw;
    margin-bottom: 1vw;
    border-radius: 10px;
    background: #0d151e;
  }

  .nav-links a:hover {
    transform: translateY(-5px);
  }

  .form-input {
    transition: all;
    transition-duration: 1s;
  }

  .form-input:hover {
    transform: translate(10px);
  }

  .form-textarea {
    transition: all;
    transition-duration: 1s;
  }

  .form-textarea:hover {
    transform: translate(10px);
  }
}
